{% extends "main.html" %} {% block content %}
<body>
	<form
		id="form"
		action="/tax-direction"
		method="POST"
		enctype="multipart/form-data"
	>
		<!-- Input text and click submit -->
		<div class="form-group">
			<label for="text">Enter problem statement for tax direction</label>
			<input
				type="text"
				class="form-control"
				id="text"
				name="text"
				placeholder="Example - Redirect 50% of my tax money for reducing pollution in Delhi"
			/>
		</div>
<!--		<div class="btn btn-primary">-->
<!--			<input type="submit" value="Submit" />-->
<!--		</div>-->
		<button type="submit" class="btn btn-primary" formaction="/tax-direction">Submit</button>
	</form>

	<div>
		<h2>
			Thank you for your response. We have a detailed form to enter the
			details at the following link
			<a href="/tax-form">Tax Form </a>
		</h2>
		<p id="output"></p>
	</div>
</body>
{% endblock %}
