{% extends "main.html" %} {% block content %}
<script
	src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""
/>
<style type="text/css">
	html,
	body {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.map-container {
		height: 100%;
		width: 95%;
		max-width: 980px;
		position: relative;
	}
	#lat,
	#lon {
		text-align: right;
	}
	#map {
		width: 100%;
		height: 300px;
		padding: 100px;
		margin: 0;
	}
	.address {
		cursor: pointer;
	}
	.address:hover {
		color: #aa0000;
		text-decoration: underline;
	}
</style>
<form id="tax-form" action="/tax-direction" method="POST">
	<div class="form-group">
		<input type="checkbox" id="consentBox" name="consent" value="True" />
		<label for="consentBox"
			>Would you like to suggest to your government how to use the above
			calculated amount for solving the problem specific to you?</label
		>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="email"
			name="email"
			placeholder="Email"
		/>
	</div>
	<br />
	<div>Specific Domains which you wish to focus on :</div>
	<div class="form-group">
		<input
			type="number"
			class="form-control"
			id="percentageTax"
			name="percent"
			value="50"
			placeholder="%"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="domain"
			name="domainText"
			placeholder="Broad Domain"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="problemStatement"
			name="problemText"
			placeholder="Problem Statement"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="locationInput"
			name="locationText"
			placeholder="Location or Beneficiary area"
			onclick="addr_search();"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="suggestion"
			name="suggestionText"
			placeholder="Solution Suggestion"
		/>
	</div>

	<div class="form-group">
		<input
			type="hidden"
			class="form-control"
			id="addr"
			name="addr"
			value="Lcoation"
			placeholder="Address"
		/>
	</div>

	<div class="map-container">
		<div id="map"></div>

		<br />
	</div>
	<div class="form-group" id="InputsWrapper"></div>
	<div class="form-group">
		<button
			type="button"
			name="add"
			id="AddMoreFileBox"
			class="btn btn-success"
		>
			Add More
		</button>
	</div>

	<button type="submit" class="btn btn-primary" formaction="/tax-direction">
		Submit
	</button>
</form>

<script type="text/javascript">
	// Delhi, India
	var startlat = 28.629369253082;
	var startlon = 77.16583192359396;

	var options = {
		center: [startlat, startlon],
		zoom: 5,
	};

	var map = L.map("map", options);
	var nzoom = 12;

	L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
		attribution: "OSM",
	}).addTo(map);

	function chooseAddr(lat1, lng1, id, addrId) {
		var myMarker = L.marker([lat1, lng1], {
			title: "Coordinates",
			alt: "Coordinates",
			draggable: true,
		})
			.addTo(map)
			.on("dragend", function () {
				// OSM Nomitatim documentation: http://wiki.openstreetmap.org/wiki/Nominatim
				var jsonQuery =
					"http://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" +
					myMarker.getLatLng().lat +
					"&lon=" +
					myMarker.getLatLng().lng +
					"&zoom=18&addressdetails=1";
				$.getJSON(jsonQuery).done(function (result_data) {
					console.log(result_data);

					var road;
					if (result_data.error) {
						myMarker.bindPopup("Try another place").openPopup();
					} else {
						if (result_data.address.road) {
							road = result_data.address.road;
						} else if (result_data.address.pedestrian) {
							road = result_data.address.pedestrian;
						} else {
							road = "Not defined!";
						}
						var popup_text =
							"</br><b>Address:</b> " + result_data.display_name;

						if (result_data.address.city_district) {
							popup_text =
								popup_text +
								"</br><b>District:</b> " +
								result_data.address.city_district;
						}
						if (result_data.address.city) {
							popup_text =
								popup_text +
								"</br><b>City:</b> " +
								result_data.address.city;
						}
						if (result_data.address.state_district) {
							popup_text =
								popup_text +
								"</br><b>State District:</b> " +
								result_data.address.state_district;
						}
						if (result_data.address.state) {
							popup_text =
								popup_text +
								"</br><b>State:</b> " +
								result_data.address.state;
						}
						if (result_data.address.country) {
							popup_text =
								popup_text +
								"</br><b>Country:</b> " +
								result_data.address.country;
						}

						if (road != "Not defined!") {
							popup_text =
								popup_text + "</br><b>Road:</b> " + road + ", ";
						}
						if (result_data.address.postcode) {
							popup_text =
								popup_text +
								"</br><b>Postal:</b> " +
								result_data.address.postcode;
						}
						popup_text =
							popup_text +
							"</br><b>Lat-lng:</b> " +
							myMarker.getLatLng().lat +
							", " +
							myMarker.getLatLng().lng;
						new_addr = result_data.display_name;
						var lat = myMarker.getLatLng().lat;
						var lon = myMarker.getLatLng().lng;
						var czoom = map.getZoom();
						if (czoom < 18) {
							nzoom = czoom + 2;
						}
						if (nzoom > 18) {
							nzoom = 18;
						}
						if (czoom != 18) {
							map.setView([lat, lon], nzoom);
						} else {
							map.setView([lat, lon]);
						}
						document.getElementById("location").value = new_addr;
						// $(id).val(new_addr);
						$(id).append(
							$("<option></option>")
								.attr("value", lat + "," + lon)
								.text(result_data.display_name)
						);
						$(id).val(lat + "," + lon);
						$(addrId).val(result_data.display_name);
						console.log("ADDR VALUE = " + $(addrId).val());
						myMarker.bindPopup(popup_text).openPopup();
					}
				});
			});
		myMarker.closePopup();
		map.setView([lat1, lng1], 18);
		myMarker.setLatLng([lat1, lng1]);
		lat = lat1.toFixed(8);
		lon = lng1.toFixed(8);
		// OSM Nomitatim documentation: http://wiki.openstreetmap.org/wiki/Nominatim
		var jsonQuery =
			"http://nominatim.openstreetmap.org/reverse?format=json&lat=" +
			myMarker.getLatLng().lat +
			"&lon=" +
			myMarker.getLatLng().lng +
			"&zoom=18&addressdetails=1";
		$.getJSON(jsonQuery).done(function (result_data) {
			console.log(result_data);

			var road;

			if (result_data.address.road) {
				road = result_data.address.road;
			} else if (result_data.address.pedestrian) {
				road = result_data.address.pedestrian;
			} else {
				road = "Not defined!";
			}
			var popup_text = "</br><b>Address:</b> " + result_data.display_name;

			if (result_data.address.city_district) {
				popup_text =
					popup_text +
					"</br><b>District:</b> " +
					result_data.address.city_district;
			}
			if (result_data.address.city) {
				popup_text =
					popup_text +
					"</br><b>City:</b> " +
					result_data.address.city;
			}
			popup_text =
				popup_text +
				"</br><b>State:</b> " +
				result_data.address.state +
				"</br><b>Country:</b> " +
				result_data.address.country +
				"</br><b>Lat-lng:</b> " +
				myMarker.getLatLng().lat +
				", " +
				myMarker.getLatLng().lng;
			//  myMarker.closePopup();
			//  map.setView([lat1, lng1],18);
			//  myMarker.setLatLng([lat1, lng1]);
			//  lat = lat1.toFixed(8);
			//  lon = lng1.toFixed(8);
			$(addrId).val(result_data.display_name);
			console.log("ADDR VALUE = " + $(addrId).val());
			myMarker.bindPopup(popup_text).openPopup();
			//  myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
			console.log(popup_text);
		});
	}

	function myFunction(arr, textId, id, addrId) {
		console.log("TEXT id ", textId);
		console.log("SELECT id ", id);
		if (arr.length > 0) {
			var newValue = id.replace("#", "");
			$(textId).replaceWith(
				'<select id="' +
					newValue +
					'" name="locationText" class="form-control"> </select>'
			);
			$.each(arr, function (index, value) {
				$(id).append(
					$("<option></option>")
						.attr("value", value.lat + "," + value.lon)
						.text(value.display_name)
				);
			});
			$(id).change(function () {
				var array = $(id).val().split(",");
				chooseAddr(Number(array[0]), Number(array[1]), id, addrId);
				console.log("SELECT OPTION TEXT = " + $(id).text());
				$(addrId).val(value.display_name);
			});
		} else {
			document.getElementById("locationInput").innerHTML =
				"Sorry, no results...";
			document.getElementById("location").innerHTML =
				"Sorry, no results...";
		}
	}

	document.getElementById("locationInput").onchange = function () {
		addr_search("#locationInput", "#location", "#addr");
	};
	function addr_search(textId, id, addrId) {
		var inp = $(textId).val();
		console.log(inp);
		var xmlhttp = new XMLHttpRequest();
		var url =
			"https://nominatim.openstreetmap.org/search?format=json&limit=5&q=" +
			inp;
		xmlhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var myArr = JSON.parse(this.responseText);
				myFunction(myArr, textId, id, addrId);
			}
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}
	$(document).ready(function () {
		var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
		var percentageTax = $("#percentageTax");

		var x = 0;
		var FieldCount = 0; //to keep track of text box added

		$("#AddMoreFileBox").click(function (e) {
			if (x == 0) {
				x = parseInt(percentageTax.val());
			}
			//initlal text box count
			console.log(x);
			if (x < 100) {
				FieldCount++; //text box added increment
				//add input box
				$(InputsWrapper).append(
					//1.
					'<div class="form-group"><input type="text" placeholder= "Enter your Tax Percentage" class="form-control" name="percent" id="percentageTax_' +
						FieldCount +
						'" value="10 ' +
						'"/></div>' +
						//2.
						'<div class="form-group"><input type="text" placeholder= "Broad Domain" class="form-control" name="domainText" id="domainText_' +
						FieldCount +
						'" placeholder="Broad Domain ' +
						'"/></div>' +
						//3.
						'<div class="form-group"><input type="text" placeholder= "Problem Statement" class="form-control" name="problemText" id="problemStatement_' +
						FieldCount +
						'" placeholder=" Problem Statement ' +
						'"/></div>' +
						//4.
						'<div class="form-group"><input type="text" placeholder= "Location or Beneficiary area" class="form-control" name="locationText" id="locationText_' +
						FieldCount +
						'" placeholder =" Location or Beneficiary area ' +
						'"/></div>' +
						//5.
						'<div class="form-group"><input type="text" placeholder="Solution Suggestion" class="form-control" name="suggestionText" id="suggestion_' +
						FieldCount +
						'" placeholder ="Solution Suggestion ' +
						'"/></div>' +
						//5.
						'<div class="form-group"><input type="hidden" placeholder="Address" class="form-control" name="addr" value="Lcoation" id="addr_' +
						FieldCount +
						'" placeholder ="Address ' +
						'"/></div>'
				);
				var newTax = "#percentageTax_" + FieldCount;
				var taxVal = $(newTax).val();
				taxVal = parseInt(taxVal);
				x = x + taxVal;

				// add location search
				var newLocationText = "#locationText_" + FieldCount;
				var newLocation = "#location_" + FieldCount;
				$(newLocationText).on("change", function () {
					console.log("change");
					addr_search(
						newLocationText,
						newLocation,
						"#addr_" + FieldCount
					);
				});

				// if (x>=100) {
				// 	$( "#AddMoreFileBox" ).hide();
				// }
			} else {
				$("#AddMoreFileBox").hide();
			}
			return false;
		});
		$("#submit").click(function () {
			$.ajax({
				url: "/tax-direction",
				method: "POST",
				data: $("#tax-form").serialize(),
				success: function (data) {
					alert(data);
					$("#resultbox").html(data);
					$("#add_skills")[0].reset();
				},
			});
		});
	});
</script>
{% endblock %}
