{% extends "main.html" %} {% block content %}
<script
	src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""
/>
<style type="text/css">
	html,
	body {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.map-container {
		height: 100%;
		width: 95%;
		max-width: 980px;
		position: relative;
	}
	#lat,
	#lon {
		text-align: right;
	}
	#map {
		width: 100%;
		height: 300px;
		padding: 100px;
		margin: 0;
	}
	.address {
		cursor: pointer;
	}
	.address:hover {
		color: #aa0000;
		text-decoration: underline;
	}
</style>
<form id="tax-form" action="/tax-direction" method="POST">
	<div class="form-group">
		<input type="checkbox" id="consentBox" name="consent" value="True" />
		<label for="consentBox"
			>Would you like to suggest to your government how to use the above
			calculated amount for solving the problem specific to you?</label
		>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="email"
			name="email"
			placeholder="Email"
		/>
	</div>
	<br />
	<div>Specific Domains which you wish to focus on :</div>
	<div class="form-group">
		<input
			type="number"
			class="form-control"
			id="percentageTax"
			name="percent"
			value="50"
			placeholder="%"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="domain"
			name="domainText"
			placeholder="Broad Domain"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="problemStatement"
			name="problemText"
			placeholder="Problem Statement"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="location"
			name="locationText"
			placeholder="Location or Beneficiary area"
		/>
	</div>

	<div class="form-group">
		<input
			type="text"
			class="form-control"
			id="suggestion"
			name="suggestionText"
			placeholder="Solution Suggestion"
		/>
	</div>

	<div class="map-container">
		<div id="map"></div>
		<b>Coordinates</b>
		<input type="text" name="lat" id="lat" size="12" value="" />
		<input type="text" name="lon" id="lon" size="12" value="" />

		<b>Address Lookup</b>
		<div id="search">
			<input type="text" name="addr" value="" id="addr" size="58" />
			<button type="button" onclick="addr_search();">Search</button>
			<div id="results"></div>
		</div>
		<br />

	</div>
	<div class="form-group" id="InputsWrapper"></div>
	<div class="form-group">
		<button
			type="button"
			name="add"
			id="AddMoreFileBox"
			class="btn btn-success"
		>
			Add More
		</button>
	</div>

	<button type="submit" class="btn btn-primary" formaction="/tax-direction">
		Submit
	</button>
</form>

<script type="text/javascript">
	// Delhi, India
	var startlat = 28.629369253082;
	var startlon = 77.16583192359396;

	var options = {
		center: [startlat, startlon],
		zoom: 5,
	};

	document.getElementById("lat").value = startlat;
	document.getElementById("lon").value = startlon;

	var map = L.map("map", options);
	var nzoom = 12;

	L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
		attribution: "OSM",
	}).addTo(map);



	console.log(L);

	var myMarker = L.marker([startlat, startlon], {
		title: "Coordinates",
		alt: "Coordinates",
		draggable: true,
	})
		.addTo(map)
		.on("dragend", function () {
			// OSM Nomitatim documentation: http://wiki.openstreetmap.org/wiki/Nominatim
			var jsonQuery =
				"http://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" +
				myMarker.getLatLng().lat +
				"&lon=" +
				myMarker.getLatLng().lng +
				"&zoom=18&addressdetails=1";
			$.getJSON(jsonQuery).done(function (result_data) {
				console.log(result_data);

				var road;
				if (result_data.error) {
					myMarker.bindPopup("Try another place").openPopup();
				} else {
					if (result_data.address.road) {
						road = result_data.address.road;
					} else if (result_data.address.pedestrian) {
						road = result_data.address.pedestrian;
					} else {
						road = "Not defined!";
					}
					var popup_text = "</br><b>Address:</b> " + result_data.display_name;

					if (result_data.address.city_district) {
						popup_text =
							popup_text +
							"</br><b>District:</b> " +
							result_data.address.city_district;
					}
					if (result_data.address.city) {
						popup_text =
							popup_text +
							"</br><b>City:</b> " +
							result_data.address.city;
					}
					if (result_data.address.state_district) {
						popup_text =
							popup_text +
							"</br><b>State District:</b> " +
							result_data.address.state_district;
					}
					if (result_data.address.state) {
						popup_text =
							popup_text +
							"</br><b>State:</b> " +
							result_data.address.state;
					}
					if (result_data.address.country) {
						popup_text =
							popup_text +
							"</br><b>Country:</b> " +
							result_data.address.country;
					}

					if (road != "Not defined!") {
						popup_text = popup_text + "</br><b>Road:</b> " + road +
						", "
					}
					if (result_data.address.postcode) {
						popup_text =
								popup_text +
								"</br><b>Postal:</b> " +
								result_data.address.postcode;
					}
					popup_text = popup_text+"</br><b>Lat-lng:</b> " +
						myMarker.getLatLng().lat +
						", " +
						myMarker.getLatLng().lng
					new_addr = result_data.display_name;
					var lat = myMarker.getLatLng().lat;
					var lon = myMarker.getLatLng().lng;
					var czoom = map.getZoom();
					if (czoom < 18) {
						nzoom = czoom + 2;
					}
					if (nzoom > 18) {
						nzoom = 18;
					}
					if (czoom != 18) {
						map.setView([lat, lon], nzoom);
					} else {
						map.setView([lat, lon]);
					}
					document.getElementById("lat").value = lat;
					document.getElementById("lon").value = lon;
					document.getElementById("addr").value = new_addr;
					myMarker.bindPopup(popup_text).openPopup();
				}
			});
		});

	function chooseAddr(lat1, lng1) {
		myMarker.closePopup();
		map.setView([lat1, lng1], 18);
		myMarker.setLatLng([lat1, lng1]);
		lat = lat1.toFixed(8);
		lon = lng1.toFixed(8);
		// OSM Nomitatim documentation: http://wiki.openstreetmap.org/wiki/Nominatim
		var jsonQuery =
			"http://nominatim.openstreetmap.org/reverse?format=json&lat=" +
			myMarker.getLatLng().lat +
			"&lon=" +
			myMarker.getLatLng().lng +
			"&zoom=18&addressdetails=1";
		$.getJSON(jsonQuery).done(function (result_data) {
			console.log(result_data);

			var road;

			if (result_data.address.road) {
				road = result_data.address.road;
			} else if (result_data.address.pedestrian) {
				road = result_data.address.pedestrian;
			} else {
				road = "Not defined!";
			}
			var popup_text = "</br><b>Address:</b> " + result_data.display_name;

			if (result_data.address.city_district) {
				popup_text =
					popup_text +
					"</br><b>District:</b> " +
					result_data.address.city_district;
			}
			if (result_data.address.city) {
				popup_text =
					popup_text +
					"</br><b>City:</b> " +
					result_data.address.city;
			}
			popup_text =
				popup_text +
				"</br><b>State:</b> " +
				result_data.address.state +
				"</br><b>Country:</b> " +
				result_data.address.country +
				"</br><b>Lat-lng:</b> " +
				myMarker.getLatLng().lat +
				", " +
				myMarker.getLatLng().lng;
			//  myMarker.closePopup();
			//  map.setView([lat1, lng1],18);
			//  myMarker.setLatLng([lat1, lng1]);
			//  lat = lat1.toFixed(8);
			//  lon = lng1.toFixed(8);
			document.getElementById("lat").value = lat;
			document.getElementById("lon").value = lon;
			document.getElementById("addr").value = result_data.display_name;
			myMarker.bindPopup(popup_text).openPopup();
			//  myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
			console.log(popup_text);
		});

	}

	function myFunction(arr) {
		var out = "<br />";
		var i;

		if (arr.length > 0) {
			for (i = 0; i < arr.length; i++) {
				out +=
					"<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" +
					arr[i].lat +
					", " +
					arr[i].lon +
					");return false;'>" +
					arr[i].display_name +
					"</div>";
			}
			document.getElementById("results").innerHTML = out;
		} else {
			document.getElementById("results").innerHTML =
				"Sorry, no results...";
		}
	}
	document.getElementById("addr").onchange = function () {
		addr_search();
	};
	function addr_search() {
		var inp = document.getElementById("addr");
		var xmlhttp = new XMLHttpRequest();
		var url =
			"https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" +
			inp.value;
		xmlhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var myArr = JSON.parse(this.responseText);
				myFunction(myArr);
			}
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}
	   $(document).ready(function () {
		var MaxInputs = 8;
		var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
		var percentageTax = $("#percentageTax");

		var x=0;
		var FieldCount = 0; //to keep track of text box added

		$("#AddMoreFileBox").click(function (e) {
			if(x==0) {
				x = parseInt(percentageTax.val());
			}
			 //initlal text box count
		   console.log(x);
			if (x < 100) {
				FieldCount++; //text box added increment
				//add input box
				$(InputsWrapper).append(
					//1.
					'<div class="form-group"><input type="text" placeholder= "Enter your Tax Percentage" class="form-control skill_list" name="percent" id="percentageTax_'+FieldCount +
				
						'" value="10 ' +
						
						'"/></div>' +
							//2.
						'<div class="form-group"><input type="text" placeholder= "Broad Domain" class="form-control skill_list" name="domainText" id="domainText_' + FieldCount+
						
						'" placeholder="Broad Domain ' +
						
						'"/></div>' +
							 //3.
						'<div class="form-group"><input type="text" placeholder= "Problem Statement" class="form-control skill_list" name="problemText" id="problemStatement_'+FieldCount +
						
						'" placeholder=" Problem Statement ' +
								
						'"/></div>' +
						//4.
						'<div class="form-group"><input type="text" placeholder= "Location or Beneficiary area" class="form-control skill_list" name="locationText" id="location_'+FieldCount +
						
							'" placeholder =" Location or Beneficiary area ' +
							
							'"/></div>' +
							//5.
							'<div class="form-group"><input type="text" placeholder="Solution Suggestion" class="form-control skill_list" name="suggestionText" id="suggestion_'+FieldCount +
						
								'" placeholder ="Solution Suggestion ' +
								
								'"/></div>'
						 

		
				);
				var newTax = "#percentageTax_"+FieldCount;
				var taxVal=$(newTax).val();
				taxVal=parseInt(taxVal);
				x=x+taxVal;
				// if (x>=100) {
				// 	$( "#AddMoreFileBox" ).hide();
				// }
			}
			else {
				  $( "#AddMoreFileBox" ).hide();
			}
			return false;
		});
		$("#submit").click(function () {
			$.ajax({
				url: "/tax-direction",
				method: "POST",
				data: $("#tax-form").serialize(),
				success: function (data) {
					alert(data);
					$("#resultbox").html(data);
					$("#add_skills")[0].reset();
				},
			});
		});
	});
</script>
{% endblock %}