<!DOCTYPE html>
<html>
  <head>
    <style>
      h1  {
          font-size: 50px;
        font-weight: bold;
        font-style: italic;
        text-align: center; /* center the heading */
          color: #4caf50;
      }
      p {
        font-size: 25px;
        margin: 10px;
          padding: 20px;
          border: 2px solid #4caf50;
          border-radius: 10px;
        letter-spacing: 2px; /* add spacing between letters */
        text-transform: uppercase; /* convert text to uppercase */
      }
    </style>
  </head>
  <body>
    <h1>Thank you</h1>
    <p id="message">{{userinput}}</p>

  </body>
</html>